<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title >
      SOBRE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="assets/foto.webp" alt="">
  <ion-card>

    <ion-card-header>
      <ion-card-title>Desenvolvido por </ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-icon name="body-sharp" slot="start"></ion-icon>
      <ion-label>Andrew Garfield</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="mail-sharp" slot="start"></ion-icon>
      <ion-label>garfield.lanchonetes@gmail.com</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="at-circle-sharp" slot="start"></ion-icon>
      <ion-label>www.lanchonetemiranha.com</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="logo-instagram" slot="start"></ion-icon>
      <ion-label>andrews_garfieds</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="extension-puzzle-sharp" slot="start"></ion-icon>
      <ion-label>Vesion 0.0.1</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
